#search-button-home{
    background: #B0201A;
    padding: .3em;
    border-radius: .3em;
    font-size: 1.5em;
    color: #FFFFFF;
    box-shadow: 1px 1px 4px #000;
}
#search-button-home:hover{
    background: #CF2E2A;
}
