*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
cite{
    font-size: .5em;
    color: rgb(191, 195, 189);
}

body {
   display: flex;
   height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }
 .input-field label {
      color: #000;
    }
    .input-field input[type=text]:focus + label {
    color: #000;
  }
