<div id="query-section">
    <div class="row center-align">

        <!-- <pop-article pop-arts='popArts'></pop-article> -->
        <weather-comp></weather-comp>

        <form class="col s12 m8 l8 offset-m3 offset-l2">
            <h4>Find Articles</h4>
            <div class="row">

                <div class="input-field col s12">
                    <i class="material-icons prefix">search</i>
                    <input id="icon_prefix" type="text" class="validate" ng-model='search' ng-keydown='$event.which === 13 && getArticles(search)'>
                    <label for="icon_prefix">Search here</label>
                </div>

                <h5>When?(optional From-to)</h5>
                <div class="input-field col s12 m4 offset-m2">
                    <i class="fa fa-calendar prefix"></i>
                    <input placeholder="From Year" type="number" class="" ng-model='from'>
                </div>

                <div class="input-field col s12 m4">
                    <i class="fa fa-calendar prefix"></i>
                    <input placeholder="To Year" type="number" class="validate" ng-model='to' />
                </div>
                <a id='search-button-home' ui-sref="results" ng-click='getArticles(search,from,to)'>Results</a>
            </div>
        </form>
    </div>
</div>

<footer-comp id="absolutify" class="hide-on-small-only"></footer-comp>
