<nav>
    <div class="nav-wrapper red darken-2 row">
        <a ui-sref='home' class="brand-logo">NeYoTi-Query</a>

        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

        <div class="input-field col l4 m3 offset-m7 offset-l4 text-white hide-on-small-only hide-on-small-only">
            <i class="fa fa-search prefix" ng-click='$ctrl.getArticles({navi: navSearch})'></i>
            <input placeholder="search" id="nav-search" type="text" ng-model='navSearch' style="font-size:1.5em" ng-keydown='$event.which == 13 && $ctrl.getArticles({navi:navSearch})'>
            <label for="first_name"></label>
        </div>


        <ul class="right hide-on-med-and-down">
            <li><a ui-sref='home'>Home</a></li>
            <li><a ui-sref='about'>About</a></li>
            <li><a href="https://www.facebook.com/NeYoTiQ/" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/NeYoTi_Query" target="_blank"><i class="fa fa-twitter"></i></a></li>
        </ul>

        <ul class="side-nav" id="mobile-demo">
            <li><input type="text" class="black-text" ng-model='mobileSearch' placeholder="search">

            <button class="waves-effect waves-light btn center-align red darken-1" type="button" name="button" ng-click='$ctrl.getArticles({navi:mobileSearch})'>Search</button></li>
            <li><a ui-sref='home'>Home</a></li>
            <li><a ui-sref='about'>About</a></li>
            <li><a href="https://www.facebook.com/NeYoTiQ/" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/NeYoTi_Query"><i class="fa fa-twitter"></i></a></li>
        </ul>

    </div>
</nav>




<!-- hide-on-med-and-down -->




<!-- <div class="nav-wrapper red darken-4">
    <a ui-sref='home' class="brand-logo"><i id='brand-icon' class="fa fa-search"></i>NeYoTi-Query</a>
    <ul id="nav-mobile" class="right ">
        <!-- FIXME: add ui-sref -->
<!-- <li><a ui-sref='home' class="col s12">Home</a></li>
        <li><a ui-sref='about'>About</a></li>
        <li><a href='https://www.facebook.com/NeYoTiQ/' target="_blank"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://twitter.com/NeYoTi_Query" target="_blank"><i class="fa fa-twitter"></i></a></li>
    </ul>
</div> -->
