#pop-arts-cards{
    display: flex;
    overflow-y: scroll;
    overflow-x: scroll;
    /*max-height: 8%;*/
    box-shadow: 1px 1px 4px #000;
    border-radius: .2em;
}
#pop-card{
    display: inline-block;
    padding: 1em;
}
.pop-images{
    height: 10em;
    width: 10em;
}
