#pop-arts-cards{
    /*position: static;;*/
    /*margin-left:;*/
    margin-top: 1em;
    /*width: 100vw;*/
    display: flex;
    overflow-y: scroll;
    overflow-x: scroll;
    /*max-height: 8%;*/
    box-shadow: 1px 1px 4px #000;
    border-radius: .2em;
    margin-bottom: 5em;
}
#pop-card{
    border: 1px solid #B7BBB4;
    text-align: center;
    color: black;
    cursor: pointer;
    font-size: .8em;
    max-width: 200px;
    max-height: 200px;
    display: inline-block;
    padding-left: .3em;
    padding-right: .3em;
    padding-top: .1em;
    padding-bottom: .1em;
}
.pop-images{
    height: 8rem;
    width: 10rem;
}
#pop-card:hover{
    opacity: .8;
    text-decoration: underline;
}
